data{
    background-color: red;
    color: black;
    padding: 10px;
    text-decoration: none;
        }
       body{rgb(255, 255, 0)
        background:
background-repeat:no-repeat;
background-size: cover;
       }